$orange-light: hsla(33, 100%, 66%, 1);
$orange: hsla(21, 84%, 58%, 1);
$white: #FFFFFF;
$dark-gray: #4E4E4E;
$gray: #E7E7E7;
$accent-red: #F85959;
$dark: #333333;
$header-brown: #725C5C;
$hover-sidebar-bg: #FDF1EB;
$gray-light: #ECECEC;
$gray-text: #5C5C5C;
$select-border: #CCCCCC;
$bg-answers-author: #F8F8F8;