@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$bold: 700;
$black: 900;
$regular: 400;
$medium: 500;
