header {
    @include flexbox(flex, space-between, center);
    background-color: $hover-sidebar-bg;
    min-height: 68px;
    padding: 0 36px;

    @media (max-width: 1200px) {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px 36px;
    }

    .title-header {
        font-family: $font-roboto;
        color: $header-brown;

        h3 {
            @include font-adjust(0.9rem, $regular);
        }

        h1 {
            @include font-adjust(1.4rem, $regular);

            @media (max-width: 1289px) {
                font-size: 1.2rem;
            }
        }

        p {
            font-size: 0.9rem;
        }
    }

    .profile-header {
        @include flexbox(flex, space-between, center);
        gap: 20px;
        font-family: $font-quicksand;

        @media (max-width: 1200px) {
            margin-top: 20px;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            justify-content: space-around;
            min-width: 100%;
        }

        .select {
            border: 1px solid $select-border;
            @include border-radius(3px);
            padding: 8px 13px;

            select {
                background: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
            }

            @media (max-width: 840px) {
                display: none;
            }
        }

        .profile {
            @include flexbox(flex, center, center);
            gap: 6.5px;
            text-align: right;

            h5 {
                @include font-adjust(0.9rem, $regular);
            }

            p {
                @include font-adjust(0.75rem, $regular);
            }

            .profile-image {
                position: relative;
                cursor: pointer;

                .notifications {
                    position: absolute;
                    top: -2px;
                    right: 0;
                    background-color: $accent-red;
                    min-width: 12px;
                    min-height: 12px;
                    @include border-radius(100px);
                    @include font-adjust(0.65rem, $bold);
                    color: $white;
                    @include flexbox(flex, center, center);
                }
            }
        }
    }
}